<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>homepage</h1>
<a href="/myapp/add_artist/">Add Artist</a><br>
<a href="/myapp/view_artist/">View Artist</a><br>
<a href="/myapp/add_forensic/">Add Forensic</a><br>
<a href="/myapp/view_forensic/">View Forensic</a><br>
<a href="/myapp/manage_case/">Add cases</a><br>
<a href="/myapp/allocatecase/">View cases and Allocate</a><br>
<a href="/myapp/view_allocated_case/">View allocated cases</a><br>
<a href="/myapp/view_c_r/">complaint</a><br>
<a href="/myapp/view_feedback/">feedbacck</a><br>
<a href="/myapp/Change_password/">Change pass</a><br>
<a href="/myapp/View_cases/">Logout</a><br>




</body>
</html>